################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mosh_C#_Exercises/FirstProject/Program.cs
